#messages-container {
    width: 100vw;
    height: calc(100vh - 156px);
    display: flex;
}

#messages-patient-list {
    width: max-content;
    padding: 0 20px 0 0;
    border: 1px solid black;
    overflow: scroll;
}

#messages-chat-container {
    width: 80%;
}

#messages-patient-list .messages-patient-name {
    font-weight: bold;
    text-align: left;
}

#messages-patient-list .messages-patient-name:hover {
    color: rebeccapurple;
    cursor: pointer;
}