#table-container {
    width: 100vw;
    display: flex;
    justify-content: center;
}

#patient-list {
    width: 90vw;
}

.col-cell {
    border: 1px solid black;
}

.col-cell.title {
    font-weight: bold;
    text-align: left;
}